
.background-pending-status-overtime{
    background: #b71111 !important;
    mat-icon{
        color:white !important;
    }
    .primary-key, .secondary-key{
        color: white !important;
    }
    button{
        color: white !important;
        border-color: white !important;
    }
}

.background-pending-status{
    background:#ffc2c2;

    mat-icon{
        color:#138206;
    }

    .primary-key{
        color: black;
    }

    .secondary-key{
        color: #333333;
    }

    button{
        color:black;
        border-color: #333333;
    }
}

.background-pending{
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
    border-top: 10px solid #ededed;
    border-bottom: 1px solid #ededed;
    .information-container{
        display: flex;
        .icon-container{
            justify-content: center;
            align-items: center;
            mat-icon{
                width: 24px;
                height: 24px;
            }
        }
        .text-container{
            width: 300px;
            p{
                display: flex;
                justify-content: space-between;
                margin: 0;
            }
        }

        .text-container, .icon-container{
            display: flex;
            flex-direction: column;
        }
    }

    .conversation-container{
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
        .content-container{
            max-height: 250px;
            overflow-y: auto;
            background: #fdecce;
            padding: 15px;
            .itemListContent{
                display: flex;
                flex-direction: row;
                margin-bottom: 5px;
                .textContent{
                    color: #333333;
                    font-size: 14px;
                    background: #ededed;
                    border-radius: 5px;
                    max-width: 60%;
                    padding:5px;
                }
                .dateTime{
                    align-items: center;
                    display: flex;
                    color: #999999;
                    font-size: 12px;
                    .space{
                        width: 15px;
                    }
                    .p{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
                p{
                    margin: 0;
                }
            }
        }
        .input-content-container{
            display: flex;
            min-height: 30px;
            padding: 5px 0;
            align-items: center;
            .soft-element{ 
                border-radius: 5px;
                border: 0.5px solid #ededed;
            }
            input, textarea{
                width: 100%;
                padding: 0 5px;
            }
            textarea{
                min-height: 30px !important;
                max-height: 102px !important;
                padding: 10px;
            }
            button{
                padding: 0 15px;
                height: 30px;
                color: #154897;
                border: 1px solid #154897 !important;
            }
        }
    }
}

.last-container{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    .clinic-information{
        display: flex;
        align-items: center;
        img{
            object-fit: contain;
            background: white;
            border-radius: 5px;
        }
        p{
            margin:0;
        }
    }

    .button-container{
        display: flex;
        align-items: center;
        button{
            width: 100px;
            height: 30px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #999999;
            background: none;
        }
    }
}