

<form #pushRequest="ngForm" [formGroup]="costTableForm" class="request-for-refund">
    <div formGroupName="opd_cost_details">
        <p class="refund-request-diagnose">
            <span class="primary-key">- Chẩn Đoán: </span>
            <!-- <span class="inputDiagnostic">{{ element.diag_note }}</span> -->
            <input type="text" formControlName="diag_note">
        </p>
        <p class="refund-request-diagnose" *ngIf="costTableForm.get('opd_cost_details.social_insurance_id').value">
            <span class="primary-key">- Thẻ Bảo Hiểm: </span>
            <span>{{ costTableForm.get('opd_cost_details.social_insurance_id').value }}</span>
            <span>-{{ costTableForm.get('opd_cost_details.social_insurance_id').value ? 'Có' : 'Không' }} áp dụng:</span>
            <mat-icon [ngStyle]="{ 'color' : costTableForm.get('opd_cost_details.social_insurance_id').value ? 'green': 'red' }">
                {{ costTableForm.get('opd_cost_details.social_insurance_id').value ? 'done': 'close' }}
            </mat-icon>
            <span></span>
        </p>
    </div>
    <div class="height-container"></div>
    <div formArrayName="costs">
        <table mat-table [dataSource]="costTableForm.get('costs')['controls']" class="mat-elevation-z8">

            <ng-container matColumnDef="money">
                <th mat-header-cell *matHeaderCellDef>Số tiền</th>
                <td mat-cell *matCellDef="let requestForRefund; let i = index; let last=last">
                    <div [formGroupName]="i" class="editContainer" *ngIf="!last">
                        <input placeholder="$" formControlName="cost_amount" (keyup)="onInputCurrency($event, i)" (focus)="$event.target.select()" required>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <div class="totalEditContainer" [ngStyle]="{ 'color': total > hospitalTotal ? '#b71111' : 'unset' }">
                        {{ total | currency:"VND"}}
                        <span *ngIf="total > hospitalTotal">Đã vượt quá chi phí yêu cầu của Bệnh Viện</span>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                <td mat-cell *matCellDef="let requestForRefund; let i=index; let last=last">
                    <div [formGroupName]="i" class="editContainer">
                        <input type="text" class="input-normal-note" formControlName="cost_note" *ngIf="!last">
                        <div class="editContainer" *ngIf="last">
                            <textarea
                                matInput
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="5"
                                placeholder="Ghi chú tổng"
                                formControlName="cost_note"
                            ></textarea>
                        </div>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsFix"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsFix;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsFix"></tr>
        </table>
    </div>

    <div class="height-container"></div>

    <div class="overBenefit" formGroupName="opd_cost_details">
        <mat-checkbox [(ngModel)]="overBenefit" [ngModelOptions]="{standalone: true}">Quá Quyền Lợi</mat-checkbox>
        <div class="width-container"></div>
        <input
            #limitTheRemainingBenefits
            (keyup)="onMaximumChange($event)"
            formControlName="maximum_claim_value"
            *ngIf="overBenefit"
            placeholder="Hạn Mức Quyền Lợi"
            (focus)="$event.target.select()"
        >
    </div>
</form>