form{
    table{
        width: 100%;
        .editContainer{
            display: flex;
            width: 100%;
            input{
                padding: 5px 10px;
                border: none;
                border-bottom: 1px solid #999999;
                border-radius: 5px;
            }
            textarea{
                width: 100%;
                border-radius: 5px;
                padding: 10px;
                border: 1px solid #999999;
            }
        }
        .mat-cell{
            padding-right: 24px;
        }
        .mat-footer-cell{
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 24px;
            .totalEditContainer{
                display: flex;
                flex-direction: column;
            }
            
        }
    }

    .overBenefit{
        display: flex;
        align-items: center;
        mat-checkbox{
            font-size: 12px;
        }
        input{
            padding: 5px 10px;
            border: none;
            border-bottom: 1px solid #999999;
            border-radius: 5px;
        }
    }
}