<div class="container">

    <div *ngFor="let element of refundRequests;" class="item-list">
        <ng-container *ngIf="element.refundRequest && countDownTimer">
            <div class="background-pending">   
                <div class="information-container">
                    <div class="icon-container">
                        <mat-icon>schedule</mat-icon>
                        <span >{{ ('0'+countDownTimer.minutes).slice(-2) +':'+ ('0'+countDownTimer.seconds).slice(-2) }}</span>
                    </div>
            
                    <div class="width-container"></div>
            
                    <div class="text-container">
                        <p>
                            <span class="primary-key">- Nội hay Ngoại trú: </span>
                            <span class="secondary-key">{{ element.request_type === '2' ? 'Ngoại trú' : 'Nội trú' }}</span>
                        </p>
                        <p>
                            <span class="primary-key">- Loại hình điều trị: </span>
                            <span class="secondary-key">{{ traTuService.illCauses[element.ill_cause-1].name }}</span>
                        </p>
                        <p>
                            <span class="primary-key">- Nhà Bảo Hiểm: </span>
                            <span class="secondary-key">{{ traTuService.insurers[element.isurance_id-1].displayName }}</span>
                        </p>
                        <p *ngIf="element.card_no">
                            <span class="primary-key">- Số thẻ: </span>
                            <span class="secondary-key">{{ element.card_no }}</span>
                        </p>
                        
                    </div>
        
                    <!-- Có thể không có thông tin này -->
        
                    <div class="width-container"></div>
        
                    <div class="text-container">
                        <p>
                            <span class="primary-key">- Số CMND hoặc Hộ Chiếu: </span>
                            <span class="secondary-key">{{ element.cmnd }}</span>
                        </p>
                        <p>
                            <span class="primary-key">- Tên Khách Hàng: </span>
                            <span class="secondary-key">{{ element.fullname }}</span>
                        </p>
                        <p>
                            <span class="primary-key">- Ngày Sinh: </span>
                            <span class="secondary-key">{{ element.dob | date:'dd/MM/yyy' }}</span>
                        </p>
                        <p>
                            <span class="primary-key">- Số Hợp Đồng: </span>
                            <span class="secondary-key">{{ element.contract_no }}</span>
                        </p>
                        
                    </div>
                    
                </div>

                <div class="width-container"></div>

                <div class="coordion-container">
                    <button (click)="element.accordion = !element.accordion">
                        <mat-icon>assignment</mat-icon>
                        <span>{{ element.accordion ? 'Ẩn Bảng':'Bảng Chi Phí' }}</span>
                        <mat-icon [ngStyle]="{ 'transform': element.accordion ? 'rotate(0deg)' : 'rotate(180deg)' }">arrow_drop_up</mat-icon>
                    </button>
                </div>
            </div>
            
            <div class="refund-request-container" *ngIf="element.accordion">

                <p class="refund-request-diagnose">
                    <span class="primary-key">- Chẩn Đoán: </span>
                    <span class="secondary-key">{{element.refundRequest.diagnose}}</span>
                </p>

                <div class="height-container"></div>

                <table mat-table [dataSource]="element.refundRequest.cost" class="mat-elevation-z8">
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef>Danh mục</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        <td mat-footer-cell *matFooterCellDef> Tổng </td>
                    </ng-container>

                    <ng-container matColumnDef="money">
                        <th mat-header-cell *matHeaderCellDef>Số tiền</th>
                        <td mat-cell *matCellDef="let element"> {{element.value | currency:"VND"}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{countTotal(element.refundRequest.cost) | currency:"VND"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="note">
                        <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                        <td mat-cell *matCellDef="let element">
                            <span
                                matTooltip="{{!element.note ? 'Không note gì' : element.note }}"
                                matTooltipPosition="before"
                            >
                                {{!element.note ? 'Không note gì' : element.note }}
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
            </div>

            <div class="last-container" [class.background-pending-status]="countDownTimer.minutes<=4"
            [class.background-pending-status-overtime]="countDownTimer.minutes == -1 && countDownTimer.seconds == -1">
        
                <div class="clinic-information">
                    <img src="https://www.vinmec.com/static/img/vinmec-facebook.f6895e5f77a5.jpg" height="30">
                    <div class="width-container"></div>
                    <span class="secondary-key">{{ 'Vinmec' }}</span>
                    <div class="width-container"></div>
                    <span class="secondary-key"><mat-icon>phone</mat-icon>{{'042.666.888.999'}}</span>
                </div>
        
                <div class="width-container"></div>
        
                <div class="button-container">
                    <button (click)="startProccess(element)" [disabled]="element.checked">
                        <span>{{ !element.checked ? 'Bắt đầu xử lý': 'Đã có người xử lý' }}</span>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="padding-for-the-list"></div>
</div>