<div class="horizontal-container">
  <form [formGroup]="accountForm" (ngSubmit)="createAccount()">
    <div mat-dialog-content>
      <p></p>
      <p>{{ checkObject === 0 ? 'Tạo Tài khoản mới.' : ('Cập nhật thông tin tài khoản '+ this.account.name) }}</p>
    
      <div class="create-account-container">
        <mat-form-field>
          <mat-label>Tên đại diện</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
  
        <div class="width-container"></div>
  
        <mat-form-field>
          <mat-label>Tên Đầy Đủ</mat-label>
          <input type="text" matInput formControlName="fullname">
        </mat-form-field>
  
        <div class="width-container"></div>
  
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
  
        <div class="width-container"></div>
  
        <mat-form-field>
          <mat-label>Điện thoại</mat-label>
          <input type="text" matInput formControlName="phone">
        </mat-form-field>
  
        <div class="width-container"></div>
  
        <mat-form-field>
          <mat-label>Quyền</mat-label>
          <mat-select formControlName="title">
            <mat-option *ngFor="let title of titles" [value]="title.value">
              {{title.name}}
          </mat-option>
          </mat-select>
        </mat-form-field>
  
        <div class="width-container"></div>
  
        <!-- <mat-form-field *ngIf="checkObject !== 0">
          <mat-label>Status</mat-label>
          <input type="text" matInput formControlName="status">
        </mat-form-field> -->
  
        <div class="width-container"></div>
  
        <mat-form-field *ngIf="checkObject === 0">
          <mat-label>Mật khẩu</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
  
        <div class="width-container"></div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button type="button" mat-dialog-close>Huỷ</button>
      <button [disabled]="!isChangedValue" mat-button type="submit" cdkFocusInitial>{{ checkObject === 0 ? 'Tạo mới' : 'Cập nhật' }}</button>
    </div>
  </form>
  
</div>