<h1 mat-dialog-title>Thử nghiệm Sms</h1>
<div mat-dialog-content>
  <p>Điền số điện thoại và nội dung tin nhắn</p>
  <div class="bodyContainer">
      <mat-form-field>
        <mat-label>Số điện thoại</mat-label>
        <input matInput [(ngModel)]="phoneNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tin nhắn</mat-label>
        <textarea matInput [(ngModel)]="message"></textarea>
      </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Huỷ</button>
  <button mat-button (click)="testSms()" cdkFocusInitial>Gửi</button>
</div>