<form [formGroup]="hospitalForm" (ngSubmit)="createHospital()">
    <div mat-dialog-content>
        <p>Tạo thông tin Cơ Sở Y Tế mới.</p>
        <div class="create-hospital-container">
            <mat-form-field>
                <mat-label>Tên CSYT</mat-label>
                <input type="text" matInput formControlName="hospital_name">
            </mat-form-field>
        
            <div class="width-container"></div>
        
            <mat-form-field>
                <mat-label>Mã CSYT</mat-label>
                <input type="text" matInput formControlName="hospital_code">
            </mat-form-field>
        
            <div class="width-container"></div>
        
            <mat-form-field>
                <mat-label>Tên phố</mat-label>
                <input type="text" matInput formControlName="street">
            </mat-form-field>
        
            <div class="width-container"></div>
        
            <mat-form-field>
                <mat-label>Thuộc Phường</mat-label>
                <input type="text" matInput formControlName="ward">
            </mat-form-field>
        
            <div class="width-container"></div>
        
            <mat-form-field>
                <mat-label>Thuộc Quận</mat-label>
                <input type="text" matInput formControlName="district">
            </mat-form-field>
        
            <div class="width-container"></div>
        
            <mat-form-field>
                <mat-label>Thành Phố</mat-label>
                <mat-select formControlName="city">
                    <mat-option
                        *ngFor="let city of listenConfigurationService.listenCity | async"
                        [value]="city.city"
                        (onSelectionChange)="selectionCity($event, city)"
                    >
                        {{city.city}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
            <div class="width-container"></div>
        
            <mat-form-field>
                <mat-label>Thời gian làm việc</mat-label>
                <input type="text" matInput formControlName="workTime">
            </mat-form-field>
        
            <div class="width-container"></div>
        
            <mat-form-field>
                <mat-label>Toạ độ</mat-label>
                <input type="text" matInput formControlName="position">
            </mat-form-field>
        
            <div class="width-container"></div>
        
            <mat-form-field>
                <mat-label>Kiểu CSYT</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of types" [value]="type.name">
                        {{type.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="width-container"></div>
        
            <mat-form-field>
                <mat-label>Vùng</mat-label>
                <mat-select formControlName="country">
                    <mat-option *ngFor="let country of countries" [value]="country.name">
                        {{country.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="height-container"></div>
        <mat-form-field *ngIf="checkObject > 0">
            <mat-label>Xác thực</mat-label>
            <input
                type="password"
                matInput
                [(ngModel)]="password"
                [ngModelOptions]="{standalone: true}"
                placeholder="Nhập mật khẩu"
            >
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button type="button" mat-dialog-close>Huỷ</button>
        <button mat-button type="submit" cdkFocusInitial>{{ checkObject === 0 ? 'Tạo mới' : 'Cập nhật' }}</button>
    </div>
</form>