mat-form-field{
    .selectInsurer{
        height: 45px;
        width:250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: solid 1px #ededed;
        border-radius: 5px;
        padding-left: 15px;
    }
    
}