<div mat-dialog-content>
    <p>Sửa lại tên Nhà Bảo Hiểm.</p>
    <form>
        <mat-form-field class="matFormSelectInsurer">
            <mat-select
                class="selectInsurer"
                placeholder="CMND hoặc Hộ Chiếu"
                [(value)]="data"
                required
            >
                <mat-option class="selectInsurerOption" *ngFor="let insurer of insurers" [value]="insurer.code">
                    <span>{{ insurer.displayName }}</span>
                    <img src="{{ insurer.logo }}">
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Huỷ</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Xong</button>
</div>