
<div mat-dialog-content>
  <p>Nhập Case Number và Batch Number của Hệ Thống.</p>
  <form [formGroup]="caseBatchForm" (ngSubmit)="setCaseBatch()" #pushRequest="ngForm">
    <mat-form-field>
      <mat-label>Case Number</mat-label>
      <input matInput formControlName="case" matInputAutofocus required #caseNumber>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Batch Number</mat-label>
      <input matInput formControlName="batch" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Huỷ</button>
  <button
    mat-button
    (click)="pushRequest.ngSubmit.emit()"
    cdkFocusInitial
  >
    Xong
  </button>
</div>