<div class="container">
    <ng-container *ngFor="let hospital of hospitalDetail">
        <div class="horizontal-container">

            <div class="vertical-container">
                <div class="horizontal-container">
                    <span>ID:</span>
                    <span>{{hospital.ID}}</span>
                </div>
                <div class="height-container"></div>
                <div class="horizontal-container">
                    <span>Tên CSYT:</span>
                    <span>{{hospital.hospital_name}}</span>
                </div>
                <div class="height-container"></div>
                <div class="horizontal-container">
                    <span>Mã CSYT:</span>
                    <span>{{hospital.hospital_code}}</span>
                </div>
                <div class="height-container"></div>
                <div class="horizontal-container">
                    <span>Địa chỉ CSYT:</span>
                    <span>{{hospital.street}}</span>
                </div>
            </div>
            <div class="width-container"></div>
            <div class="vertical-container">
                <h3>Các tài khoản đã có</h3>
                <ng-container *ngFor="let account of hospitalAccounts">
                    <div class="vertical-container">
                        <div class="horizontal-container">
                            <span>ID:</span>
                            <span>{{account.ID}}</span>
                        </div>
                        <div class="horizontal-container">
                            <span>Tài khoản:</span>
                            <span>{{account.name}}</span>
                        </div>
                    </div>
                    <div class="height-container"></div>
                </ng-container>
            </div>
        </div>
        <div class="height-container"></div>
        <div class="horizontal-container">
            <button (click)="updateInformation(hospital.ID)">Cập nhật thông tin</button>
            <div class="width-container"></div>
            <button (click)="createAccount(hospital.ID)">Tạo tài khoản</button>
            <div class="width-container"></div>
            <button (click)="showAccouts(hospital.ID)">Các tài khoản của CSYT này</button>
        </div>
    </ng-container>
</div>
<!-- interface Hospital {
    ID: number;
    hospital_name: string;
    hospital_code: string;
    street: string;
    ward: string;
    district: string;
    city: string;
    idCity: number;
    workTime: string;
    position: string;
    type: string;
    country: string;
    created_at: Date;
    updated_at: Date;
    deleted_at: Date;
  } -->