.container{
    mat-table{
        height: 100%;
        overflow: scroll;
        mat-row{
            mat-cell{
                .insurer-logo-img{
                    
                }
            }
        }
        .longText{
            min-width: 200px;
        }
    }
}
