<button class="btnClose" (click)="closeComment()">X</button>
<div class="conversation-container" *ngIf="detailTickets && detailTickets.comments">
    <div class="information-container">

        <div class="text-container">
            <p matRipple (click)="copyService.createCopy('Case Number', detailTickets.note)">
                <span class="primary-key">- Case Number: </span>
                <span class="secondary-key">{{ detailTickets.note }}</span>
            </p>
            <p matRipple (click)="copyService.createCopy('Mã định danh', detailTickets.ID)">
                <span class="primary-key">- Mã định danh: </span>
                <span class="secondary-key">{{ detailTickets.ID }}</span>
            </p>
            <!-- <p matRipple (click)="copyService.createCopy('Nội hay Ngoại trú', detailTickets.request_type === '2' ? 'Ngoại trú' : 'Nội trú')">
                <span class="primary-key">- Nội hay Ngoại trú: </span>
                <span class="secondary-key">{{ detailTickets.request_type === '2' ? 'Ngoại trú' : 'Nội trú' }}</span>
            </p> -->
            <p matRipple (click)="copyService.createCopy('Loại hình điều trị', traTuService.illCauses[detailTickets.ill_cause-1].name)">
                <span class="primary-key">- Loại hình điều trị: </span>
                <span class="secondary-key">{{ traTuService.illCauses[detailTickets.ill_cause-1].name }}</span>
            </p>
            <p matRipple (click)="copyService.createCopy('Nhà Bảo Hiểm', traTuService.insurers[detailTickets.isurance_id-1].displayName)">
                <span class="primary-key">- Nhà Bảo Hiểm: </span>
                <span class="secondary-key" *ngIf="traTuService.listenInsurer | async as insurer">
                    {{insurer[detailTickets.isurance_id-1].short_name}}
                </span>
            </p>
            <p *ngIf="detailTickets.card_no">
                <span class="primary-key">- Số thẻ: </span>
                <span class="secondary-key">{{ detailTickets.card_no }}</span>
            </p>
            
        </div>

        <!-- Có thể không có thông tin này -->

        <div class="width-container"></div>

        <div class="text-container">
            <p matRipple (click)="copyService.createCopy('Số CMND hoặc Hộ Chiếu', detailTickets.cmnd)">
                <span class="primary-key">- Số CMND hoặc Hộ Chiếu: </span>
                <span class="secondary-key">{{ detailTickets.cmnd }}</span>
            </p>
            <p matRipple (click)="copyService.createCopy('Tên Khách Hàng', detailTickets.fullname)">
                <span class="primary-key">- Tên Khách Hàng: </span>
                <span class="secondary-key">{{ detailTickets.fullname }}</span>
            </p>
            <p matRipple (click)="copyService.createCopy('Ngày Sinh', datePipe.transform(detailTickets.dob, 'dd/MM/yyy')) ">
                <span class="primary-key">- Ngày Sinh: </span>
                <span class="secondary-key">{{ detailTickets.dob | date:'dd/MM/yyy' }}</span>
            </p>
            <p matRipple (click)="copyService.createCopy('Số Hợp Đồng', detailTickets.contract_no)">
                <span class="primary-key">- Số Hợp Đồng: </span>
                <span class="secondary-key">{{ detailTickets.policy_no }}</span>
            </p>
            
        </div>

        <div class="width-container"></div>

        <div *ngIf="detailTickets.files && detailTickets.files.length>0">
            <button (click)="showImage(detailTickets.files, 0)">Tệp đính kèm</button>
        </div>
    </div>

    <div class="height-container"></div>

    <div #scrollMe class="content-container" [ngStyle]="{'padding.px':detailTickets.comments.length === 0 ? '0' : '15' }">
        <ng-container #messageContainer *ngFor="let comment of detailTickets.comments">
            <div class="itemListContent" [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'" *ngIf="comment.type==='COMMENT'">
                <div class="textContent" [style.background]="comment.insmart_user_id > 0 ? 'rgba(21, 72, 151, 0.9)' : '#ededed'">
                    <p [style.color]="comment.insmart_user_id > 0 ? 'white' : '#333333'">
                        {{ comment.content.message }}
                    </p>
                    <div class="attachments" *ngIf="comment.content.files">
                        <img
                            src="{{url.urlShow}}"
                            *ngFor="let url of comment.content.files; let index = index"
                            (click)="showImage(comment.content.files, index)"
                            style="background: rgb(237, 237, 237)"
                        >
                        <button (click)="downloadAttachments(comment.content.files)">Tải hết</button>
                    </div>
                </div>
    
                <div class="dateTime" [style.flex-direction]="comment.insmart_user_id === userData.data.id ? 'row-reverse' : 'row'">
                    <div class="space"></div>
                    <p>
                        <span>{{ comment.created_at | date:'dd/MM/yyyy' }} </span>
                        <span>{{ comment.created_at | date:'HH:mm' }}</span>
                    </p>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="input-content-container">
        <mat-icon (click)="file.click()">attach_file</mat-icon>

        <div class="width-container"></div>
        <textarea
            type="text"
            [(ngModel)]="messageConversation"
            class="soft-element"
            placeholder="Nội dung yêu cầu"
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
        >
        </textarea>

        <div class="width-container"></div>
        <button class="soft-element" (click)="sendMessage($event, IDticket)">
            Gửi
        </button>
    </div>

    <div class="attachment-container" *ngIf="attachments.length>0">
        <ng-container *ngFor="let attachment of attachments; let i = index">
            <img src="{{attachment.urlShow}}" (contextmenu)="onRightClick($event, i)">
        </ng-container>
    </div>
</div>

<input
    type="file"
    accept="
        image/*,
        application/pdf,
        application/vnd.openxmlformats-officedocument.wordprocessingml.document,
        application/msword,
        application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
        application/vnd.ms-excel"
    #file
    (change)="onAttachmentSelect($event)"
    multiple
    style="display:none;"
>


<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu" class="setCaseNumberMnu">
    <ng-template matMenuContent let-index="index">
        <button mat-menu-item (click)="removeAttachment(index)">
            <mat-icon>remove_circle_outline</mat-icon>
            <span>Bỏ ảnh này</span>
        </button>
    </ng-template>
</mat-menu>