.btnClose{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 24px;
    width: 24px;
    font-size: 14px;
    align-items: center;
    border: 1px solid #ededed;
    color: red;
    border-radius: 4px;
    outline: none;
}
.conversation-container{
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    
    .information-container{
        display: flex;
        .icon-container{
            justify-content: center;
            align-items: center;
            mat-icon{
                width: 24px;
                height: 24px;
            }
        }
        .text-container{
            width: 400px;
            p{
                display: flex;
                justify-content: space-between;
                margin: 0;
            }
            button{
                width: 100px;
            }
        }

        .text-container, .icon-container{
            display: flex;
            flex-direction: column;
        }
    }

    .content-container{
        max-height: 250px;
        overflow-y: auto;
        background: #fdecce;
        padding: 15px;
        .itemListContent{
            display: flex;
            flex-direction: row;
            margin-bottom: 5px;
            .textContent{
                color: #333333;
                font-size: 14px;
                background: #ededed;
                border-radius: 5px;
                max-width: 60%;
                padding:5px;
                white-space: pre-wrap;
                max-width: 500px;
                p{
                    overflow-wrap: break-word;
                }
                .attachments{
                    img{
                        width: 30px;
                    }
                }
            }
            .dateTime{
                align-items: center;
                display: flex;
                color: #999999;
                font-size: 12px;
                .space{
                    width: 15px;
                }
                .p{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            p{
                margin: 0;
            }
        }
    }
    .input-content-container{
        display: flex;
        min-height: 30px;
        padding: 5px 0;
        align-items: center;
        .soft-element{ 
            border-radius: 5px;
            border: 0.5px solid #ededed;
        }
        input, textarea{
            width: 100%;
            padding: 0 5px;
        }
        textarea{
            min-height: 30px !important;
            max-height: 102px !important;
            padding: 10px;
        }
        button{
            padding: 0 15px;
            height: 30px;
            color: #154897;
            border: 1px solid #154897 !important;
        }
    }
    .attachment-container{
        height: 60px;
        padding-top: 10px;
        img{
            height: 50px;
            border: 1px solid #ededed;
        }
    }
}