<div class="container">
    <ng-container *ngFor="let insurer of insurerDetail">
        <div class="insurer-information-container">
            <div>
                <div class="vertical-container">
                    <div class="horizontal-container card-container">
                        <span class="primary-key">ID:</span>
                        <span class="secondary-key">{{insurer.ID}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Tên viết tắt:</span>
                        <span class="secondary-key">{{insurer.short_name}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Tên Nhà Bảo Hiểm:</span>
                        <span class="secondary-key">{{insurer.name}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Kiểm tra quyền lợi trong:</span>
                        <span class="secondary-key">{{insurer.check_benefit_countdown}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Đưa ra phương án BL trong:</span>
                        <span class="secondary-key">{{insurer.gl_countdown}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Loại Bảo Hiểm:</span>
                        <span class="secondary-key">{{traTuService.typeInsurers[insurer.type-1].name}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Logo:</span>
                        <span class="secondary-key"><img src="{{insurer.logo}}" width="80px" alt="logo"></span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container centered">
                        <button (click)="updateInsurer(insurer)">
                            <mat-icon>update</mat-icon>
                            <span> Cập nhật thông tin Nhà Bảo Hiểm</span>
                        </button>
                    </div>
                </div>

                <div class="height-container"></div>

                <div class="horizontal-container">
                    <div class="width-container"></div>
                    
                </div>

            </div>

            <div class="width-container"></div>

        </div>

        <div class="button-container">
            <button (click)="deleteInsurer(insurer)">
                <mat-icon>delete</mat-icon>
                <span> Xoá Nhà Bảo Hiểm</span>
            </button>
        </div>
        
    </ng-container>
</div>

