.styleDefault{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #999999;
    font-size: 12px;
}

.btn-container{
    display: flex;
}

.container{
    padding: 15px;
    .title-container{
        p{
            margin: 0;
        }
    }
    table{
        width: 350px;
        .mat-header-row{
            .mat-header-cell{
                min-width: 150px;
                padding-left: 12px;
                padding-right: 12px;
            }
        }
        .mat-row{
            .mat-cell{
                min-width: 150px;
                padding-left: 12px;
                padding-right: 12px;
            }
            .mat-cell:first-of-type{
                min-width: 150px;
            }
        }

        .mat-footer-row{
            .mat-footer-cell{
                min-width: 150px;
                padding-left: 12px;
                padding-right: 12px;
                button:first-child{
                    background: green;
                    color: white;
                }
            }
        }
    }
}