<div class="container">
    <div class="main-image">
        <img src="{{images.images[images.mainImage].urlShow}}">
        <button (click)="downloadAll([images.images[images.mainImage].urlUpload])">
            <mat-icon>arrow_downward</mat-icon>
        </button>
    </div>

    <div class="height-container"></div>

    <div class="list-image">
        <img
            src="{{ image.urlShow }}"
            *ngFor="let image of images.images; let index = index"
            (click)="imageSelected(index)"
            [ngClass]="{ 'imageIsSelected' : images.mainImage === index }"
        >
        <div class="width-container"></div>
        <div class="download-container">
            <button (click)="downloadAll(images.images)">Tải hết</button>
        </div>
    </div>
</div>