<div class="container">

    <div *ngFor="let element of theRequestments;">
        <ng-container>
    
            <div class="background-pending">   
                <div class="information-container">
                    <div class="icon-container">
                        <mat-icon>schedule</mat-icon>
                        <span>{{ ('0'+countDownTimer.minutes).slice(-2) +':'+ ('0'+countDownTimer.seconds).slice(-2) }}</span>
                    </div>
            
                    <div class="width-container"></div>
            
                    <div class="text-container">
                        <p>
                            <span class="primary-key">- Mã định danh: </span>
                            <span class="secondary-key">{{ element.ID }}</span>
                        </p>
                        <!-- <p>
                            <span class="primary-key">- Nội hay Ngoại trú: </span>
                            <span class="secondary-key">{{ element.request_type === 2 ? 'Ngoại trú' : 'Nội trú' }}</span>
                        </p> -->
                        <p>
                            <span class="primary-key">- Loại hình điều trị: </span>
                            <span class="secondary-key">{{ traTuService.illCauses[element.ill_cause-1].name }}</span>
                        </p>
                        <p>
                            <span class="primary-key">- Nhà Bảo Hiểm: </span>
                            <span class="secondary-key">{{ traTuService.insurers[element.isurance_id-1].displayName }}</span>
                        </p>
                        <p *ngIf="element.card_no">
                            <span class="primary-key">- Số thẻ: </span>
                            <span class="secondary-key">{{ element.card_no }}</span>
                        </p>
                        
                    </div>
        
                    <!-- Có thể không có thông tin này -->
        
                    <div class="width-container"></div>
        
                    <div class="text-container">
                        <p>
                            <span class="primary-key">- Số CMND hoặc Hộ Chiếu: </span>
                            <span class="secondary-key">{{ element.cmnd }}</span>
                        </p>
                        <p>
                            <span class="primary-key">- Tên Khách Hàng: </span>
                            <span class="secondary-key">{{ element.fullname }}</span>
                        </p>
                        <p>
                            <span class="primary-key">- Ngày Sinh: </span>
                            <span class="secondary-key">{{ element.dob | date:'dd/MM/yyy' }}</span>
                        </p>
                        <p>
                            <span class="primary-key">- Số Hợp Đồng: </span>
                            <span class="secondary-key">{{ element.policy_no }}</span>
                        </p>
                        
                    </div>
                    
                </div>
        
            </div>
    
            <div class="last-container" [class.background-pending-status]="countDownTimer.minutes<=4"
            [class.background-pending-status-overtime]="countDownTimer.minutes == -1 && countDownTimer.seconds == -1">
        
                <div class="clinic-information">
                    <span class="secondary-key">
                        <mat-icon>local_hospital</mat-icon>
                        {{ element.hospital_user_id }}
                    </span>
                    <div class="width-container"></div>
                    <span class="secondary-key">
                        <mat-icon>person</mat-icon>
                        {{ element.hospital_employee_name }}
                    </span>
                    <div class="width-container"></div>
                    <span class="secondary-key">
                        <mat-icon>phone</mat-icon>
                        {{ element.hospital_phone_number }}
                    </span>
                </div>
        
                <div class="width-container"></div>
        
                <div class="button-container">
                    <button (click)="startProccess(element)" [disabled]="element.checked">
                        <span>{{ !element.checked ? 'Bắt đầu xử lý': 'Đã có người xử lý' }}</span>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="padding-for-the-list"></div>
</div>