<div class="container">
    <ng-container *ngFor="let account of accountDetail">
        <div class="account-information-container">
            <div>
                <div class="vertical-container">
                    <div class="horizontal-container card-container">
                        <span class="primary-key">ID:</span>
                        <span class="secondary-key">{{account.ID}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">User name:</span>
                        <span class="secondary-key">{{account.name}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Tên đầy đủ:</span>
                        <span class="secondary-key">{{account.fullname}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Email:</span>
                        <span class="secondary-key">{{account.email}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Số điện thoại:</span>
                        <span class="secondary-key">{{account.phone}}</span>
                    </div>
                    <div class="height-container"></div>
                    <div class="horizontal-container card-container">
                        <span class="primary-key">Quyền:</span>
                        <span class="secondary-key">{{account.title}}</span>
                    </div>
                    <div class="height-container"></div>
                    <!-- <div class="horizontal-container">
                        <span>Trạng thái:</span>
                        <span>{{account.status}}</span>
                    </div> -->
                    <div class="horizontal-container centered">
                        <div class="width-container"></div>
                        <button (click)="updateAccount(account)">
                            <mat-icon>update</mat-icon>
                            <span> Cập nhật thông tin Tài khoản</span>
                        </button>
                    </div>
                </div>

                <div class="height-container"></div>



            </div>

            <div class="width-container"></div>

        </div>

        <div class="button-container">
            <button (click)="deleteAccount(account)">
                <mat-icon>delete</mat-icon>
                <span> Xoá Tài khoản</span>
            </button>
        </div>
        
    </ng-container>
</div>

