<div class="vertical-container container">
    <form [formGroup]="ticketGroup" (ngSubmit)="search()" class="search-bar horizontal-container">
        <mat-form-field>
            <input matInput type="text" placeholder="Mã định danh" formControlName="idTicket">
        </mat-form-field>
        <div class="width-container"></div>
        <mat-form-field>
            <input matInput type="text" placeholder="Tên khách hàng" formControlName="fullname">
        </mat-form-field>
        <div class="width-container"></div>
        <mat-form-field>
            <input matInput type="text" placeholder="Số điện thoại" formControlName="patient_phone_numb">
        </mat-form-field>
        <div class="width-container"></div>
        <button type="submit" mat-raised-button [disabled]="inProccessing">
            <span>Tìm kiếm</span>
        </button>
        <mat-spinner diameter="24" *ngIf="inProccessing"></mat-spinner>
    </form>
    <div class="height-container"></div>
    <div class="vertical-container result-container">
        <ng-container *ngIf="tickets && tickets.length>0; else empty">
            <mat-table [dataSource]="tickets" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="ID">
                    <mat-header-cell *matHeaderCellDef>Trường hợp số</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.ID}}</mat-cell>
                </ng-container>      

                <!-- Full Name Column -->
                <ng-container matColumnDef="fullname">
                    <mat-header-cell *matHeaderCellDef>Họ và Tên</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fullname}} </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Trạng thái</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{
                            element.insmart_status === 'VERIFIED' ?'Có Quyền Lợi' :
                            element.insmart_status === 'DENIED' ? 'Không có quyền lợi' :
                            element.insmart_status === 'CONFIRM' ? 'Đồng ý Bảo Lãnh' :
                            element.insmart_status === 'REJECT' ? 'Từ chối Bảo Lãnh' : ''
                        }}
                    </mat-cell>
                </ng-container>
                
                <!-- Insurer Column -->
                <ng-container matColumnDef="insurerInfo">
                    <mat-header-cell *matHeaderCellDef>Tên nhà Bảo hiểm</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.insurerInfo.short_name}}</mat-cell>
                </ng-container>
                
                <!-- Ill Cause Column -->
                <ng-container matColumnDef="illCause">
                    <mat-header-cell *matHeaderCellDef>Loại hình điều trị</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.ill_cause}} </mat-cell>
                </ng-container>

                <!-- Hospital Name Column -->
                <ng-container matColumnDef="hospitalInfo">
                    <mat-header-cell *matHeaderCellDef>Tên CSYT</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.hospitalInfo.hospital_name}} </mat-cell>
                </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetail(row)"></mat-row>
            </mat-table>
        </ng-container>

        <ng-template #empty>Không có gì</ng-template>

    </div>
</div>