form{
    .userInformation-container{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        button[type=submit]{
            width: 100px;
            padding: 5px;
        }
    }
}