<div class="container">
    <form [formGroup]="filterForm" (ngSubmit)="filterData()">
        <div class="horizontal-container">
            <mat-checkbox formControlName="isToday">Hôm nay</mat-checkbox>
            <div class="width-container"></div>
            <ng-container *ngIf="!filterForm.get('isToday').value">
                <mat-form-field>
                    <mat-label>Từ ngày</mat-label>
                    <input
                        matInput
                        [matDatepickerFilter]="disableFuture"
                        [matDatepicker]="pickerFrom"
                        formControlName="dateFrom"
                    >
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
                <div class="width-container"></div>
                <mat-form-field>
                    <mat-label>Đến ngày</mat-label>
                    <input
                        matInput
                        [matDatepickerFilter]="disableFuture"
                        [matDatepicker]="pickerTo"
                        formControlName="dateTo"
                    >
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>
            </ng-container>
            <div class="width-container"></div>
            <mat-form-field>
                <mat-select
                    class="selectInsurer"
                    formControlName="insurer_id"
                    placeholder="Nhà Bảo Hiểm"
                    required
                >
                    <mat-option value='all' class="firstSelectInsurerOption">Tất cả</mat-option>
                    <mat-option class="selectInsurerOption" *ngFor="let insurer of insurers" [value]="insurer.ID">
                        <span>{{ insurer.short_name ? insurer.short_name : 'Tên nhà Bảo Hiểm' }}</span>
                        <img *ngIf="insurer.logo" src="{{ insurer.logo }}">
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="width-container"></div>
        </div>
        <div class="height-container"></div>
        <div class="horizontal-container">
            <button type="submit" [disabled]="!filterForm.valid || inProccessing">
                <mat-icon>cloud_download</mat-icon>
                <span>Xuất dữ liệu</span>
            </button>
            <mat-spinner diameter="24" *ngIf="inProccessing"></mat-spinner>
        </div>
    </form>
</div>