<mat-tab-group [selectedIndex]="tabPageService.getPageNumber()" (selectedTabChange)="tabPageService.setPageNumber($event.index)">
    <mat-tab>
        <ng-template matTabLabel>
            Không tìm thấy tự động<span *ngIf="directbillingTheRequirementService.getBadgeTheRequestments() | async as badge" matBadge="{{badge}}" matBadgeOverlap="false"></span>
        </ng-template>

        <app-proccess-the-requrements></app-proccess-the-requrements>

    </mat-tab>
    <mat-tab>
        <ng-template matTabLabel>
            Yêu cầu hoàn trả<span matBadge="{{badgeRefundRequest}}" matBadgeOverlap="false" [matBadgeHidden]="badgeRefundRequest === 0"></span>
        </ng-template>

        <app-proccess-the-refund-request></app-proccess-the-refund-request>

    </mat-tab>
    <!-- <mat-tab>
        <ng-template matTabLabel>
            <span matBadge="1" matBadgeOverlap="false">Content 3</span>
        </ng-template>

        Content 3
        
    </mat-tab> -->
</mat-tab-group>