<div class="container">
    <form [formGroup]="ticketGroup" (ngSubmit)="search()" class="search-bar horizontal-container">
        <mat-form-field>
            <input matInput type="text" placeholder="Mã định danh" formControlName="idTicket">
        </mat-form-field>
        <div class="width-container"></div>
        <button type="submit" mat-raised-button>Tìm kiếm</button>
    </form>
    <div class="height-container"></div>
    <div class="vertical-container">
        <ng-container *ngIf="ticket && ticket.detailTicket">
            <div class="information-container">
                ID: {{ticket.ID}}
            </div>
            <div class="height-container"></div>
            <div class="detail-container">
                <div *ngFor="let comment of ticket.detailTicket">
                    <ng-container *ngIf="comment.type === 'CHANGE_STATUS' && comment.insmart_user_id > 0">
                        <div
                            class="comment-container horizontal-container"
                            [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                        >
                            <div
                                class="row-container horizontal-container"
                                [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                            >
                                <div
                                    class="content-container horizontal-container"
                                    [ngClass]="comment.insmart_user_id > 0 ? 'content-ins' : 'content-hos'"
                                >
                                    <div>
                                        <mat-icon *ngIf="comment.content.message === 'Insmart verify ticket'">thumb_up</mat-icon>
                                        <mat-icon *ngIf="comment.content.message === 'Insmart reject ticket' || comment.content.message === 'Insmart deny ticket'">thumb_down</mat-icon>
                                    </div>
                                    <div class="width-container"></div>
                                    <div class="vertical-container">
                                        <span *ngIf="comment.content.message === 'Insmart verify ticket'">{{'Xác nhận có quyền lợi'}}</span>
                                        <span *ngIf="comment.content.message === 'Insmart deny ticket'">{{'Xác nhận không có quyền lợi'}}</span>
                                        <span *ngIf="comment.content.message === 'Insmart reject ticket'">{{'Từ chối Bảo Lãnh'}}</span>
                                        <div class="width-container"></div>
                                        <span *ngIf="comment.content.message === 'Insmart reject ticket' || comment.content.message === 'Insmart deny ticket'">Lý do: {{comment.content.reasons}}</span>
                                        <span>Người xác nhận: {{ comment.insmartUser.fullname }}</span>
                                    </div>
                                </div>
                                <div class="width-container"></div>
                                <span class="time">Thời gian: {{ comment.created_at | date:'dd/MM/yyy HH:mm:ss' }}</span>
                            </div>
                        </div>
    
                    </ng-container>
    
                    <ng-container *ngIf="comment.type === 'REQUEST_COST' && comment.hospital_user_id > 0">
                        <div
                            class="comment-container horizontal-container"
                            [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                        >
                            <div
                                class="row-container horizontal-container"
                                [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                            >
                                <div
                                    class="content-container horizontal-container"
                                    [ngClass]="comment.insmart_user_id > 0 ? 'content-ins' : 'content-hos'"
                                >
                                    <div>
                                        <mat-icon>table_chart</mat-icon>
                                    </div>
                                    <div class="width-container"></div>
                                    <div class="vertical-container">
                                        <span>{{ 'Cơ sở Y Tế gửi yêu cầu Bảo Lãnh' }}</span>
                                        <span>CSYT gửi: {{ comment.hospitalUser.hospitalInfo.hospital_name }}</span>
                                    </div>
                                </div>
                                <div class="width-container"></div>
                                <span class="time">Thời gian: {{ comment.created_at | date:'dd/MM/yyy HH:mm:ss' }}</span>
                            </div>
                        </div>
    
                    </ng-container>
    
                    <ng-container *ngIf="comment.type === 'COMMENT' && comment.insmart_user_id > 0">
                        <div
                            class="comment-container horizontal-container"
                            [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                        >
                            <div
                                class="row-container horizontal-container"
                                [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                            >
                                <div
                                    class="content-container horizontal-container"
                                    [ngClass]="comment.insmart_user_id > 0 ? 'content-ins' : 'content-hos'"
                                >
                                    <div>
                                        <mat-icon>comment</mat-icon>
                                    </div>
                                    <div class="width-container"></div>
                                    <div class="vertical-container">
                                        <span>{{ 'Insmart yêu cầu thông tin' }}</span>
                                        <span>Nội dung: {{ comment.content.message }}</span>
                                        <span>Người gửi: {{comment.insmartUser.fullname}}</span>
                                        <button *ngIf="comment.content.files">
                                            Tệp đính kèm
                                        </button>
                                    </div>
                                </div>
                                <div class="width-container"></div>
                                <span class="time">Thời gian: {{ comment.created_at | date:'dd/MM/yyy HH:mm:ss' }}</span>
                            </div>
                        </div>
    
                    </ng-container>
    
                    <ng-container *ngIf="comment.type === 'COMMENT' && comment.hospital_user_id > 0">
                        <div
                            class="comment-container horizontal-container"
                            [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                        >
                            <div
                                class="row-container horizontal-container"
                                [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                            >
                                <div
                                    class="content-container horizontal-container"
                                    [ngClass]="comment.insmart_user_id > 0 ? 'content-ins' : 'content-hos'"
                                >   
                                    <div>
                                        <mat-icon>comment</mat-icon>
                                    </div>
                                    <div class="width-container"></div>
                                    <div class="vertical-container">
                                        <span>{{ 'CSYT trả lời thông tin' }}</span>
                                        <span>Nội dung: {{ comment.content.message }}</span>
                                        <span>Tài khoản: {{comment.hospitalUser.name}}</span>
                                        <button *ngIf="comment.content.files" mat-icon-button (click)="showImage(comment.content.files, 0)">
                                            <mat-icon>attach_file</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="width-container"></div>
                                <span class="time">Thời gian: {{ comment.created_at | date:'dd/MM/yyy HH:mm:ss' }}</span>
                            </div>
                        </div>
    
                    </ng-container>
    
                    <ng-container *ngIf="comment.type === 'INSMART_UPDATE_COST' && comment.insmart_user_id > 0">
                        <div
                            class="comment-container horizontal-container"
                            [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                        >
                            <div
                                class="row-container horizontal-container"
                                [style.flex-direction]="comment.insmart_user_id > 0 ? 'row-reverse' : 'row'"
                            >
                                <div
                                    class="content-container horizontal-container"
                                    [ngClass]="comment.insmart_user_id > 0 ? 'content-ins' : 'content-hos'"
                                >  
                                    <div>
                                        <mat-icon>table_chart</mat-icon>
                                    </div>
                                    <div class="width-container"></div>
                                    <div class="vertical-container">
                                        <span>{{ 'Phương án Bảo Lãnh của Insmart' }}</span>
                                        <span>Người đưa ra phương án: {{ comment.insmartUser.fullname }}</span>
                                    </div>
                                </div>
                                <div class="width-container"></div>
                                <span class="time">Thời gian: {{ comment.created_at | date:'dd/MM/yyy HH:mm:ss' }}</span>
                            </div>
                        </div>
    
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>