<div class="container">

    <div *ngFor="let element of requestForRefunds; let requestIndex = index" class="item-list">
        <ng-container *ngIf="countDownTimer">
            <div class="background-pending">   
                <div class="information-container">
                        <div class="icon-container">
                            <mat-icon>schedule</mat-icon>
                            <span >{{ ('0'+countDownTimer.minutes).slice(-2) +':'+ ('0'+countDownTimer.seconds).slice(-2) }}</span>
                        </div>
                
                        <div class="width-container"></div>
                
                        <div class="text-container">
                            <p matRipple (click)="copyService.createCopy('Case Number', element.note)">
                                <span class="primary-key" (contextmenu)="onRightClick($event, element)">- Case Number: </span>
                                <span class="secondary-key">{{ element.note }}</span>
                            </p>
                            <p matRipple (click)="copyService.createCopy('Mã định danh', element.ID)">
                                <span class="primary-key">- Mã định danh: </span>
                                <span class="secondary-key">{{ element.ID }}</span>
                            </p>
                            <!-- <p matRipple (click)="copyService.createCopy('Nội hay Ngoại trú', element.request_type === '2' ? 'Ngoại trú' : 'Nội trú')">
                                <span class="primary-key">- Nội hay Ngoại trú: </span>
                                <span class="secondary-key">{{ element.request_type === '2' ? 'Ngoại trú' : 'Nội trú' }}</span>
                            </p> -->
                            <p matRipple (click)="copyService.createCopy('Loại hình điều trị', traTuService.illCauses[element.ill_cause-1].name)">
                                <span class="primary-key">- Loại hình điều trị: </span>
                                <span class="secondary-key">{{ traTuService.illCauses[element.ill_cause-1].name }}</span>
                            </p>
                            <p matRipple (click)="copyService.createCopy('Nhà Bảo Hiểm', traTuService.insurers[element.isurance_id-1].displayName)">
                                <span class="primary-key">- Nhà Bảo Hiểm: </span>
                                <span class="secondary-key">{{ traTuService.insurers[element.isurance_id-1].displayName }}</span>
                            </p>
                            <p *ngIf="element.card_no">
                                <span class="primary-key">- Số thẻ: </span>
                                <span class="secondary-key">{{ element.card_no }}</span>
                            </p>
                            
                        </div>
            
                        <!-- Có thể không có thông tin này -->
            
                        <div class="width-container"></div>
            
                        <div class="text-container">
                            <p matRipple (click)="copyService.createCopy('Số CMND hoặc Hộ Chiếu', element.cmnd)">
                                <span class="primary-key">- Số CMND hoặc Hộ Chiếu: </span>
                                <span class="secondary-key">{{ element.cmnd }}</span>
                            </p>
                            <p matRipple (click)="copyService.createCopy('Tên Khách Hàng', element.fullname)">
                                <span class="primary-key">- Tên Khách Hàng: </span>
                                <span class="secondary-key">{{ element.fullname }}</span>
                            </p>
                            <p matRipple (click)="copyService.createCopy('Ngày Sinh', element.dob)">
                                <span class="primary-key">- Ngày Sinh: </span>
                                <span class="secondary-key">{{ element.dob | date:'dd/MM/yyy' }}</span>
                            </p>
                            <p matRipple (click)="copyService.createCopy('Số Hợp Đồng', element.contract_no)">
                                <span class="primary-key">- Số Hợp Đồng: </span>
                                <span class="secondary-key">{{ element.policy_no }}</span>
                            </p>
                            
                        </div>
                </div>
        
            </div>
            
            <div class="refund-request-container">
                <div>
                    <p class="refund-request-diagnose">
                        <span class="primary-key">- Chẩn Đoán: </span>
                        <span class="inputDiagnostic">{{ element.diag_note }}</span>
                    </p>
                    <p class="refund-request-diagnose" *ngIf="element.social_insurance_id">
                        <span class="primary-key">- Thẻ Bảo Hiểm: </span>
                        <span>{{ element.social_insurance_id }}</span>
                    </p>
                </div>

                <div class="height-container"></div>

                <div class="refund-request-left-container">
                    
                    <table mat-table [dataSource]="element.costs" class="mat-elevation-z8">
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef>Danh mục</th>
                            <td mat-cell *matCellDef="let element"> {{element.cost_name}} </td>
                            <td mat-footer-cell *matFooterCellDef> Tổng </td>
                        </ng-container>
        
                        <ng-container matColumnDef="money">
                            <th mat-header-cell *matHeaderCellDef>Số tiền</th>
                            <td mat-cell *matCellDef="let element"> {{element.cost_amount | currency:"VND"}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{countTotal(element.costs) | currency:"VND"}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="note">
                            <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                            <td mat-cell *matCellDef="let element">
                                <span
                                    matTooltip="{{!element.cost_note ? 'Không note gì' : element.cost_note }}"
                                    matTooltipPosition="before"
                                >
                                    {{!element.cost_note ? 'Không note gì' : element.cost_note }}
                                </span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                    </table>

                    <div class="width-container"></div>

                    <table mat-table [dataSource]="editCostTable" class="mat-elevation-z8" *ngIf="editCostTable">

                        <ng-container matColumnDef="money">
                            <th mat-header-cell *matHeaderCellDef>Số tiền</th>
                            <td mat-cell *matCellDef="let requestForRefund; let i = index">
                                <span *ngIf="!requestForRefund.checked" (click)="requestForRefund.checked = true">{{ requestForRefund.value | currency:"VND" }}</span>
                                
                                <div *ngIf="requestForRefund.checked" class="edit-container">
                                    <input type="text" placeholder="Số tiền" value="{{ requestForRefund.value | number }}">
                                    <button (click)="requestForRefund.checked = false">
                                        <mat-icon>done</mat-icon>
                                    </button>
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                <div class="totalEditContainer">
                                    {{countTotal(element.refundRequest.cost) | currency:"VND"}}
                                    <div class="width-container"></div>
                                    <div class="benefitLimitExceededContainer">
                                        <mat-checkbox *ngIf="!element.benefitLimitExceeded" (change)="changeCheckBox($event, requestIndex)">Quá Quyền Lợi</mat-checkbox>
                                        <input #limitTheRemainingBenefits *ngIf="element.benefitLimitExceeded" (blur)="element.benefitLimitExceeded=false" type="text" placeholder="Hạn Mức Quyền Lợi">
                                    </div>
                                </div>
                            </td>
                        </ng-container>
    
                        <ng-container matColumnDef="note">
                            <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                            <td mat-cell *matCellDef="let requestForRefund">
                                <input type="text" class="input-normal-note">
                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                <textarea
                                matInput
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="5"
                                class="input-normal-note input-total-note"
                                ></textarea>
                            </td>
                        </ng-container>
    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsFix"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsFix;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumnsFix"></tr>
                    </table>

                </div>

                <div class="height-container"></div>

                <div class="conversation-container" *ngIf="element.conversation">
                    <div class="itemListContent" *ngFor="let message of element.conversation" [style.flex-direction]="message.from === 1 ? 'row-reverse' : 'row'">
                        <div class="textContent" [style.background]="message.from === 1 ? 'rgba(21, 72, 151, 0.9)' : '#ededed'">
                            <p [style.color]="message.from === 1 ? 'white' : '#333333'">
                                {{ message.content }}
                            </p>
                        </div>
    
                        <div class="dateTime" [style.flex-direction]="message.from === 1 ? 'row-reverse' : 'row'">
                            <div class="space"></div>
                            <p>
                                <span>{{ message.date | date:'dd/MM/yyyy' }} </span>
                                <span>{{ message.date | date:'HH:mm' }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="input-content-container">
                        
                        <textarea
                        type="text"
                        [(ngModel)]="messageConversation"
                        class="soft-element"
                        placeholder="Nội dung yêu cầu"
                        matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        ></textarea>
                        <!-- <input type="text" [(ngModel)]="messageConversation" class="soft-element" placeholder="Nội dung yêu cầu"> -->
                        <div class="width-container"></div>
                        <button class="soft-element" (click)="sendMessage($event, element.id)">
                            Gửi
                        </button>
                    </div>
                </div>
            </div>

            <div class="last-container" [class.background-pending-status]="countDownTimer.minutes<=4"
            [class.background-pending-status-overtime]="countDownTimer.minutes == -1 && countDownTimer.seconds == -1">
        
                <div class="clinic-information">
                    <span class="secondary-key">
                        <mat-icon>local_hospital</mat-icon>
                        {{ element.hospital_user_id }}
                    </span>
                    <div class="width-container"></div>
                    <span class="secondary-key">
                        <mat-icon>person</mat-icon>
                        {{ element.hospital_employee_name }}
                    </span>
                    <div class="width-container"></div>
                    <span class="secondary-key">
                        <mat-icon>phone</mat-icon>
                        {{ element.hospital_phone_number }}
                    </span>
                </div>
        
                <div class="width-container"></div>
        
                <div class="button-container">
                    <button (click)="element.conversation = []">
                        <span>{{'Thêm thông tin'}}</span>
                    </button>
                    <div class="width-container"></div>
                    <button (click)="editTableCostDetail(element)">
                        <span>{{ element.editable?'OK':'Sửa lại' }}</span>
                    </button>
                    <div class="width-container"></div>
                    <button (click)="startProccess(element)">
                        <span>{{ 'Đồng ý' }}</span>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="padding-for-the-list"></div>
</div>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu" class="setCaseNumberMnu">
    <ng-template matMenuContent let-id="id">
        <button mat-menu-item (click)="setCaseNumber(id)">
            <mat-icon>edit</mat-icon>
            <span>Sửa Case Number</span>
        </button>
    </ng-template>
</mat-menu>