/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar{
    display: none;
}

.container{
    height:100%;
    overflow-y: auto;
}

.padding-for-the-list{
    height: 120px;
}

//define khoảng cách ngang
.width-container{
    width: 15px;
    min-width: 15px;
}

//define khoảng cách dọc
.height-container{
    height:15px;
}

// define chữ
.primary-key{
    color: #333333;
    font-size: 14px;
}

// define nội dung
.secondary-key{
    color: #999999;
    font-size: 16px;
    display: flex;
    align-items: center;
    mat-icon{
        margin-right:2px;
    }
}

.setCaseNumberMnu{
    max-height: unset !important;
    min-height: unset !important;
    .mat-menu-content{
        padding: 0;
        .mat-menu-item{
            padding: 10px 15px;
            height: unset;
            line-height: unset;
        }
    }
    .mat-menu-content:not(:empty){
        padding: 0;
    }
}

//Dialog Modal
app-confirm-action{
    .mat-dialog-actions{
        justify-content: flex-end;
    }
}