.spinner-container{
    position: relative;
    .spinner-background{
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.refund-request-container{
    border-bottom: 1px solid #ededed;
    padding:15px;
    .refund-request-diagnose{
        margin:0;
        display: flex;
        align-items: center;
        .primary-key{
            width: 100px;
        }

        .inputDiagnostic{
            color: #ff7522;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .tableName{
        font-size: 14px;
    }
    table{
        width: 100%;
        .mat-cell{
            min-width: 150px;
            max-width: 200px;
            padding-top: 10px;
            padding-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .mat-footer-cell{
            font-weight: bold;
        }
    }
}