<div mat-dialog-content>
    <p *ngIf="data.costs.length===0;else costs">Bạn có chắc chắn với Ticket số "{{ data.ID }}" có quyền lợi?</p>
    <ng-template #costs>
        <p>Bạn chắc chắn với các khoản chi phí đã Bảo Lãnh như sau</p>
    </ng-template>
</div>

<div class="refund-request-container" *ngIf="data.costs.length>0">
    <div>
        <p class="refund-request-diagnose">
            <span class="primary-key">- Chẩn Đoán: </span>
            <span class="inputDiagnostic">{{ data.diag_note }}</span>
        </p>
        <p class="refund-request-diagnose" *ngIf="data.social_insurance_id">
            <span class="primary-key">- Thẻ Bảo Hiểm: </span>
            <span>{{ data.social_insurance_id }}</span>
        </p>
    </div>

    <div class="height-container"></div>

    <div style="display: flex;">
        <div [ngStyle]="{ opacity: data.insmartCosts ? '.5' : '1' }">
            <p class="primary-key">Chi Phí Yêu Cầu</p>
            <table mat-table [dataSource]="data.hospitalCosts" class="mat-elevation-z8">
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Danh mục</th>
                    <td mat-cell *matCellDef="let data; let last=last">
                        <span *ngIf="!last">{{data.cost_name}}</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <span>Tổng</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="money">
                    <th mat-header-cell *matHeaderCellDef>Số tiền</th>
                    <td mat-cell *matCellDef="let data; let last=last">
                        <span *ngIf="!last">{{ data.cost_amount | currency:"VND" }}</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{ countTotal(data.hospitalCosts) | currency:"VND"}} </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                    <td mat-cell *matCellDef="let data">
                        <span
                            matTooltip="{{!data.cost_note ? 'null' : data.cost_note }}"
                            matTooltipPosition="before"
                        >
                            {{!data.cost_note ? 'null' : data.cost_note }}
                        </span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
        </div>

        <div class="width-container"></div>
        
        <div *ngIf="data.insmartCosts">
            <p class="primary-key">Insmart Xác Nhận</p>
            <table mat-table [dataSource]="data.insmartCosts" class="mat-elevation-z8">
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Danh mục</th>
                    <td mat-cell *matCellDef="let data; let last=last">
                        <span *ngIf="!last">{{data.cost_name}}</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <span>{{data.maximum_claim_value>0 ? 'Hạn mức còn lại' : 'Tổng'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="money">
                    <th mat-header-cell *matHeaderCellDef>Số tiền</th>
                    <td mat-cell *matCellDef="let data; let last=last">
                        <span *ngIf="!last">{{ data.cost_amount | currency:"VND" }}</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{ (data.maximum_claim_value>0 ? data.maximum_claim_value : countTotal(data.insmartCosts)) | currency:"VND"}} </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
                    <td mat-cell *matCellDef="let data">
                        <span
                            matTooltip="{{!data.cost_note ? 'null' : data.cost_note }}"
                            matTooltipPosition="before"
                        >
                            {{!data.cost_note ? 'null' : data.cost_note }}
                        </span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
        </div>
    </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onDispose()">Huỷ</button>
  <button mat-button (click)="confirmAction()">Chắc chắn</button>
  <div class="spinner-container" *ngIf="value>0">
      <div class="spinner-background">{{numberCountDown}}</div>
      <mat-progress-spinner
          class="example-margin"
          diameter="30"
          [color]="color"
          [mode]="mode"
          [value]="value"
      >
      </mat-progress-spinner>
  </div>
</div>