.item-list{
    .primary-key{
        min-width: 200px;
    }
    .background-pending-status-overtime{
        background: #b71111 !important;
        mat-icon{
            color:white !important;
        }
        .primary-key, .secondary-key{
            color: white !important;
        }
        button{
            color: white !important;
            border-color: white !important;
        }
    }
    
    .background-pending-status{
        background:#ffee00;

        mat-icon{
            color:#2d442a;
        }
    
        .primary-key{
            color: black;
        }
    
        .secondary-key{
            color: #333333;
        }
    
        button{
            color:black;
            border-color: #333333;
        }
    }
    
    
    .background-pending{
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: space-between;
        border-top: 10px solid #ededed;
        border-bottom: 1px solid #ededed;
        .information-container{
            display: flex;
            .icon-container{
                justify-content: center;
                align-items: center;
                mat-icon{
                    width: 24px;
                    height: 24px;
                }
            }
            .text-container{
                width: 400px;
                p{
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                }
                button{
                    width: 100px;
                }
            }
    
            .text-container, .icon-container{
                display: flex;
                flex-direction: column;
            }
        }
        .coordion-container{
            button{
                padding: 5px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                width: 150px;
                justify-content: space-between;
                outline: none;
                mat-icon{
                    transition: transform 0.45s;
                }
            }
        }
    }
    
    .refund-request-container{
        border-bottom: 1px solid #ededed;
        padding:15px;
        .refund-request-diagnose{
            margin:0;
            display: flex;
            align-items: center;
            .primary-key{
                width: 100px;
            }

            .inputDiagnostic{
                color: #ff7522;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .refund-request-left-container{
            display: flex;
            table{
                width: 100%;
                .mat-cell{
                    min-width: 150px;
                    max-width: 200px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .mat-footer-cell{
                    font-weight: bold;
                }
            }
            app-ticket-cost{
                width: 100%;
            }
        }
    }
    
    .last-container{
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ededed;
        .clinic-information{
            display: flex;
            align-items: center;
            img{
                object-fit: contain;
                background: white;
                border-radius: 5px;
            }
            p{
                margin:0;
            }
        }
    
        .button-container{
            display: flex;
            align-items: center;
            button{
                height: 30px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #999999;
                background: none;
            }
        }
    }
}

mat-paginator{
    position: fixed;
    bottom: 0px;
    background: none;
    .mat-paginator-range-actions{
        background: white;
        box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }
}