.container {
    width: 100%;
    height: 100%;
    .sidenav {
        // padding: 20px;
        .sideMenuContainer{
            width: 100%;
            height: 100%;
            display: block;
            
            background-size: cover;
            .information{
                display: flex;
                align-items: center;
                padding: 15px;
                background: rgba(0,0,0,.2);
                .avatar{
                    width: 50px;
                    height: 50px;
                    vertical-align: middle;
                    border: 2px solid white;
                    background: #154897;
                    background-image: url('../../../assets/imgs/sheild-mini.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 50%;
                }
                span{
                    font-size: 14px;
                    color: white;
                }
            }
            .listMenu{
                .itemMenu{
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    color: white;
                    mat-icon{
    
                    }
                    span{
                        font-size: 14px;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-left:5px;
                    }
                }
                .itemMenu:hover{
                    cursor: pointer;
                    background: rgba(255,255,255,.15);
                }
            }
        }
        .sideMenuContainer::after{
            content: "";
            background: url("../../../assets/imgs/background-login-mini.png");
            background-size: cover;
            opacity: .75;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
    
    .sidenav-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        .titleContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            background: #154897;
                mat-icon{
                    padding: 15px;
                    border: none;
                    color: white;
                }
                mat-icon:hover{
                    cursor: pointer;
                }
        }
        .router-outlet{
            width: 100%;
            height: 100%;
        }
    }
}
  
  
