<mat-drawer-container class="container" autosize>

    <mat-drawer
        #drawer
        class="sidenav"
        mode="side"
    >
        <div class="sideMenuContainer">
            <app-user-information></app-user-information>
            <div class="listMenu">
                <div
                    class="itemMenu"
                    *ngFor="let sideMenu of sideMenus; let i = index; let last=last"
                    [routerLink]="[sideMenu.routerLink]"
                    routerLinkActive="active"
                    #rla="routerLinkActive"
                    [ngClass]="{ 'last-menu-item': last }"
                >
                    <mat-icon *ngIf="sideMenu.icon.type==='customize'" svgIcon="{{sideMenu.icon.name}}"></mat-icon>
                    <mat-icon *ngIf="sideMenu.icon.type==='default'">{{ sideMenu.icon.name }}</mat-icon>
                    <span>{{sideMenu.name}}</span>
                </div>
            </div>
        </div>
    </mat-drawer>
    
    <div class="sidenav-content">
        <div class="titleContainer">
            <mat-icon (click)="drawer.toggle()" class="toggleMenu">menu</mat-icon>
            <img height="35" src="../../assets/imgs/LogoInsmartWhite-small.png">
            <mat-icon svgIcon="home" [routerLink]="['/dashboard/home']"></mat-icon>
        </div>
        <div
            [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']"
            class="router-outlet"
            style="height: 100%; overflow: auto">
            <router-outlet #o="outlet"></router-outlet>
        </div>
    </div>

</mat-drawer-container>